*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
}

.wrapper>* {
  border-radius: 5px;
  margin-bottom: 10px;
}