#autocomplete-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
  }
  
  #autocomplete-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    color: #dedede;
    background-color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }
  
  #autocomplete-suggestions li {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .autocomplete-container {
    position: relative;
  }
  .autocomplete-input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
  }
  .autocomplete-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: .1em solid #ccc;
    border-top: none;
    max-height: 10em;
    overflow-y: auto;
    background-color: #fff;
  }
  .autocomplete-suggestion {
    padding: 1em;
    cursor: pointer;
  }
  .autocomplete-suggestion:hover {
    background-color: #dede;
  }