#autocomplete-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
  }
  
  #autocomplete-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    color: #dedede;
    background-color: #000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }
  
  #autocomplete-suggestions li {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }